@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#bar {
  width: 100%;
  padding: 5px;
  height: 60px;
  background: #E91E63;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  box-shadow: 1px 1px 5px 0.1px #666555;
}

#bar img {
  height: 100%;
}
#bar span{
  color: #fff;
  font-family: 'Open Sans';
  font-weight: 800;
  padding: 0 10px;
  font-size: 30px;
}

#bar a{
  text-decoration: none;
  display: flex;
  height: 100%;
  align-items: center;
}

#content{
  max-width: 1200px;
  width: 95%;
  margin: auto;
}

#section1 {
  width: 100%;
  height: auto;
  position: relative;
  background-image: url(../images/bg.png);
  background-position: center;
  background-size: cover;
  padding: 80px 0px 20px 0;
}

#section1 img{
  width: 600px;
  max-width: 90%;
  margin: auto;
  display: block;
}

.headings {
  color: rgb(86, 71, 71);
  font-family: "Bebas Neue";
  padding: 0px 10px;
  text-align: center;
  margin-top: 50px;
}

.text {
  font-family: 'Open Sans';
  padding: 10px;
  text-align: justify;
}

#sessions {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
}

.session-card {
  box-shadow: 0px 0px 5px 0px rgb(148, 148, 148);
  margin: 10px;
}

.session-card img {
  width: 100%;
}

.session-card-top {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 130px;
}

.session-card-title {
  position: absolute;
  color: white;
  bottom: 0px;
  padding: 5px;
  margin: 0px;
  font-family: "Bebas Neue";
  letter-spacing: 1px;
  font-size: 25px;
}

.session-card-text {
  font-family: 'Open Sans';
  text-align: justify;
  padding: 8px;
  margin: 0px;
  font-size: 85%;
  height: 130px;
}

.session-card-link {
  text-decoration: none;
  color: rgb(24, 138, 252);
  text-transform: uppercase;
  font-family: 'Open Sans';
  width: 100%;
  display: block;
  text-align: center;
  padding: 5px 0px 5px 0px;
  border-top: 1px solid rgba(138, 142, 147, 0.505);
}

@media only screen and (max-width: 730px) {
  #sessions {
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (max-width: 500px) {
  #sessions {
    grid-template-columns: 100%;
  }
}

#about {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.about-section {
  width: calc(85% - 20px);
  padding: 10px;
  display: grid;
  grid-template-areas: "main main right";
}

.about-img {
  width: 200px;
}

.about-text {
  height: 100%;
  font-family: 'Open Sans';
  padding: 15px;
  text-align: justify !important;
}

@media only screen and (max-width: 830px) {
  .about-section {
    display: block;
    text-align: center;
  }

  .about-section:nth-of-type(2) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .about-img {
    width: 50vw;
  }
}

#people {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
}

.people-card {
  box-shadow: 0px 0px 5px 0px rgb(148, 148, 148);
  margin: 10px;
  padding: 10px 0px 0px 0px;
}

.people-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.people-card-title {
  color: rgb(0, 0, 0);
  bottom: 0px;
  margin: 0px;
  padding-left: 8px;
  font-family: "Bebas Neue";
  letter-spacing: 1px;
  font-size: 25px;
  text-align: left;
}

.people-card-text {
  font-family: 'Open Sans';
  text-align: justify;
  padding: 0px 8px 8px 8px;
  margin: 0px;
  font-size: 85%;
}

.people-card-link {
  text-decoration: none;
  color: rgb(24, 138, 252);
  text-transform: uppercase;
  font-family: 'Open Sans';
  width: 100%;
  display: block;
  text-align: center;
  padding: 5px 0px 5px 0px;
  border-top: 1px solid rgba(138, 142, 147, 0.505);
}

@media only screen and (max-width: 730px) {
  #people {
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (max-width: 500px) {
  #people {
    grid-template-columns: 100%;
  }
}

#footer {
  width: 100%;
  background: #E91E63;
  font-family: 'Open Sans';
  overflow: auto;
  margin-top: 50px;
}

#footer img {
  height: 100px;
  margin: 20px auto;
  display: block;
}

#footer h4 {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 10px;
  text-align: center;
  margin: 0;
}
