#content{
    padding-top: 60px;
}

#title{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Bebas Neue';
    margin-top: 50px;
}
#title span{
    display: block;
}
#title span:nth-child(1){
    font-size: 30px;
    font-weight: normal;
}

#description{
    margin: 20px 0 0 0;
    font-family: 'Open Sans';
}
#collapsible{
    margin: 30px 0 0 0;
}
#collapsible .item {
    border: 1px solid #607D8B;
    margin-bottom: 10px;
}
#collapsible .item .head{
    background: #607D8B;
    color: #fff;
    padding: 10px 20px 10px 50px;
    font-family: 'Bebas Neue';
    font-size: 20px;
    cursor: pointer;
    position: relative;
}
#collapsible .item .head::before{
    font-family: 'Material Symbols Outlined';
    content: '\e5ce';
    display: block;
    font-size: 30px;
    position: absolute;
    left: 10px;
    top: 6px;
}
#collapsible .item.collapsed .head::before{
    content: '\e5cf';
}

#collapsible .item .body{
    padding: 10px;
    font-family: 'Open Sans';
}
#collapsible .item.collapsed .body{
    display: none;
}
#collapsible .item .body ul{
    padding-left: 20px;
}
#collapsible .item .body p{
    margin-bottom: 10px;
}
#collapsible .item .body object[type="application/pdf"]{
    max-width: 100%;
    width: 600px;
    height: 300px;
    margin: auto;
    display: block;
}
#collapsible .item .body .resource{
    padding: 10px 20px 10px 70px;
    display: block;
    width: 250px;
    text-decoration: none;
    border-radius: 4px;
    margin: 5px 0;
    position: relative;
    border: 1px solid #e91e63;
}
#collapsible .item .body .resource.slides{
    color: #fff;
    background: #e91e63;
    font-size: 1.5em;
}
#collapsible .item .body .resource.notes{
    color: #e91e63;
    background: #fff;
}
#collapsible .item .body .resource::before{
    font-family: 'Material Symbols Outlined';
    content: '\eaf0';
    padding: 0 20px;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    vertical-align: middle;
    align-items: center;
}
#collapsible .item .body .resource.slides::before{
    content: '\eaf0';
}
#collapsible .item .body .resource.notes::before{
    content: '\f1c6';
}
#collapsible .item .body .resource.notes .credits{
    font-size: 0.8em;
}